openapi: 3.2.0
info:
  title: Codemagic Build Dashboards API
  version: v3.0
  description: '# ℹ️ Overview


    Welcome to the Codemagic REST API.'
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Build Dashboards
  description: REST API endpoints for build dashboards.
  external_docs: null
paths:
  /api/v3/dashboards/{uuid}:
    get:
      tags:
      - Build Dashboards
      summary: Get a dashboard
      description: For more information, see "Build dashboards."
      operationId: ApiV3DashboardsUuidGetDashboard
      parameters:
      - name: uuid
        in: path
        schema:
          type: string
          format: uuid
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.dashboards.schemas.DashboardSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
      security:
      - {}
  /api/v3/dashboards/{uuid}/builds:
    get:
      tags:
      - Build Dashboards
      summary: List dashboard builds
      operationId: ApiV3DashboardsUuidBuildsGetBuilds
      parameters:
      - name: uuid
        in: path
        schema:
          type: string
          format: uuid
        required: true
        deprecated: false
      - name: cursor
        in: query
        schema:
          oneOf:
          - {}
          - type: 'null'
          description: A unique identifier after which the results should be returned.
        description: A unique identifier after which the results should be returned.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: '

            The response headers include a `link` header that provides URLs for fetching additional pages of results.

            The `link` header looks something like this:

            ```

            link: <https://codemagic.io/dashboards/{uuid}/builds>; rel="first", <https://codemagic.io/dashboards/{uuid}/builds?cursor=xxx>; rel="next"

            ```


            - The URL for the first page is followed by `rel="first"`.

            - The URL for the next page is followed by `rel="next"`.

            '
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPagination_bson.objectid.ObjectId_api.routes.dashboards.schemas.BuildSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
      security:
      - {}
components:
  schemas:
    BuildStatus:
      type: string
      enum:
      - initializing
      - queued
      - preparing
      - fetching
      - testing
      - building
      - publishing
      - finishing
      - finished
      - failed
      - canceled
      - timeout
      - skipped
      title: BuildStatus
    dashboards_schemas_PullRequestSchema:
      properties:
        number:
          type: integer
        source_branch:
          type: string
        destination_branch:
          type: string
      type: object
      required:
      - destination_branch
      - number
      - source_branch
      title: PullRequestSchema
    dashboards_schemas_WorkflowSchema:
      properties:
        id:
          type: string
        name:
          oneOf:
          - type: string
          - type: 'null'
      type: object
      required:
      - id
      title: WorkflowSchema
    dashboards_schemas_CommitSchema:
      properties:
        hash:
          oneOf:
          - type: string
          - type: 'null'
        avatar_url:
          oneOf:
          - type: string
          - type: 'null'
        author_name:
          oneOf:
          - type: string
          - type: 'null'
        author_email:
          oneOf:
          - type: string
          - type: 'null'
        message:
          oneOf:
          - type: string
          - type: 'null'
        url:
          oneOf:
          - type: string
          - type: 'null'
      type: object
      required: []
      title: CommitSchema
    dashboards_schemas_ReleaseNoteSchema:
      properties:
        language:
          type: string
        text:
          type: string
      type: object
      required:
      - language
      - text
      title: ReleaseNoteSchema
    ArtifactType:
      type: string
      enum:
      - aab
      - aar
      - apk
      - app
      - bundle
      - coverage_binary
      - coverage_data
      - device_recording
      - directory
      - dsym
      - flutter_drive_log
      - flutter_web_build_dir
      - glob_matched
      - ios_uitest_package
      - ios_xctest_package
      - ipa
      - jar
      - lint_result
      - linux_app
      - log
      - logcat
      - msix
      - pkg
      - proguard_map
      - ios_simulator_log
      - snap
      - static_lib
      - sylph_artefact_dir
      - test_results_bundle
      - windows_exe
      - xcarchive
      - xcodebuild_log
      title: ArtifactType
    dashboards_schemas_ArtifactSchema:
      properties:
        name:
          type: string
        size_in_bytes:
          type: integer
        type:
          $ref: '#/components/schemas/ArtifactType'
        short_lived_download_url:
          type: string
        version_code:
          oneOf:
          - type: string
          - type: 'null'
        version_name:
          oneOf:
          - type: string
          - type: 'null'
      type: object
      required:
      - name
      - short_lived_download_url
      - size_in_bytes
      - type
      title: ArtifactSchema
    CursorPagination_bson.objectid.ObjectId_api.routes.dashboards.schemas.BuildSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/dashboards_schemas_BuildSchema'
          type: array
        page_size:
          type: integer
        cursor:
          oneOf:
          - {}
          - type: 'null'
      type: object
      required:
      - data
      - page_size
      title: CursorPagination[ObjectId, BuildSchema]
    dashboards_schemas_AppSchema:
      properties:
        name:
          type: string
        icon_url:
          oneOf:
          - type: string
          - type: 'null'
      type: object
      required:
      - name
      title: AppSchema
    DashboardSchema:
      properties:
        uuid:
          type: string
        name:
          type: string
        icon_url:
          oneOf:
          - type: string
          - type: 'null'
      type: object
      required:
      - name
      - uuid
      title: DashboardSchema
    dashboards_schemas_BuildSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        app:
          $ref: '#/components/schemas/dashboards_schemas_AppSchema'
        workflow:
          $ref: '#/components/schemas/dashboards_schemas_WorkflowSchema'
        status:
          $ref: '#/components/schemas/BuildStatus'
        index:
          type: integer
        artifacts:
          items:
            $ref: '#/components/schemas/dashboards_schemas_ArtifactSchema'
          type: array
        labels:
          items:
            type: string
          type: array
        release_notes:
          items:
            $ref: '#/components/schemas/dashboards_schemas_ReleaseNoteSchema'
          type: array
        created_at:
          type: string
          format: date-time
        commit:
          oneOf:
          - $ref: '#/components/schemas/dashboards_schemas_CommitSchema'
          - type: 'null'
        branch:
          oneOf:
          - type: string
          - type: 'null'
        tag:
          oneOf:
          - type: string
          - type: 'null'
        pull_request:
          oneOf:
          - $ref: '#/components/schemas/dashboards_schemas_PullRequestSchema'
          - type: 'null'
        started_at:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
        finished_at:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
      type: object
      required:
      - app
      - artifacts
      - created_at
      - id
      - index
      - labels
      - release_notes
      - status
      - workflow
      title: BuildSchema
    NoPagination_api.routes.dashboards.schemas.DashboardSchema_:
      properties:
        data:
          $ref: '#/components/schemas/DashboardSchema'
      type: object
      required:
      - data
      title: NoPagination[DashboardSchema]
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
