openapi: 3.1.0
info:
  title: Codemagic App Previews Meta API
  version: v3.0
  description: "\n# ℹ️ Overview\n\nWelcome to the Codemagic REST API. This API allows you to programmatically interact with [Codemagic's CI/CD](https://codemagic.io/) platform\nto manage your apps, trigger builds, access artifacts, and more.\n\n### Authentication\n\nAll API requests require authentication using a personal API token that is unique to each Codemagic user. The actions permitted by the token are determined by the user’s role within the team.\n\nYou can find your API token by navigating to **Teams > Personal Account > Integrations > Codemagic API > Show**.\n\nInclude your token in the request header:\n\n```\nx-auth-token: <your-api-token>\n```\n\n### Getting started\n\n1. Generate your API token from the Codemagic dashboard\n2. Explore the available endpoints in the sidebar\n3. Try out requests directly from this documentation\n\n### Rate limits\n\nCodemagic limits the number of API requests you can make within a specific amount of time to ensure the API remains\navailable for all users. Your personal rate limit is **5,000 requests per hour**.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n#### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n### Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Meta
  description: REST API endpoints for meta data.
  external_docs: null
paths:
  /api/v3/meta:
    get:
      tags:
      - Meta
      summary: Get meta information
      description: '

        Returns meta information about Codemagic, including a list of public IP addresses in use.


        These IP addresses are in [CIDR notation](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing#CIDR_notation).

        If needed, you can use an online conversion tool to convert from CIDR notation to IP address ranges.


        Please note that these IP addresses may change from time to time, so if you use them for IP whitelisting or any kind of automation, we strongly encourage you to regularly monitor our API.

        '
      operationId: ApiV3MetaGetMeta
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.meta.schemas.MetaSchema_'
      deprecated: false
      security:
      - {}
  /api/v3/meta/shorebird:
    get:
      tags:
      - Meta
      summary: Get information about Shorebird integration
      operationId: ApiV3MetaShorebirdGetShorebirdMeta
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.meta.schemas.ShorebirdSchema_'
      deprecated: false
      security:
      - {}
components:
  schemas:
    meta_schemas_MetaSchema:
      properties:
        address_prefixes:
          items:
            type: string
            format: ipv4
          type: array
          description: A list of IP blocks used by build machines to clone the Git repository. Whitelist these IP blocks if your repository is behind a firewall. For more information, see [Firewall configuration for privately hosted repositories](https://docs.codemagic.io/getting-started/adding-apps/#firewall-configuration-for-privately-hosted-repositories).
        simulator_address_prefixes:
          items:
            type: string
            format: ipv4
          type: array
          description: A list of IP blocks used by your Android and iOS apps to make network requests. Whitelist these IP blocks if your backend behind a firewall. For more information, see [Previewing apps in the browser](https://docs.codemagic.io/yaml-testing/app-preview/).
      type: object
      required:
      - address_prefixes
      - simulator_address_prefixes
      title: MetaSchema
    NoPagination_api.routes.meta.schemas.MetaSchema_:
      properties:
        data:
          $ref: '#/components/schemas/meta_schemas_MetaSchema'
      type: object
      required:
      - data
      title: NoPagination[MetaSchema]
    ShorebirdSchema:
      properties:
        flutter_versions:
          items:
            type: string
          type: array
          description: For more information, see [Supported Flutter Versions](https://docs.shorebird.dev/getting-started/flutter-version/).
        shorebird_version:
          type: string
      type: object
      required:
      - flutter_versions
      - shorebird_version
      title: ShorebirdSchema
    NoPagination_api.routes.meta.schemas.ShorebirdSchema_:
      properties:
        data:
          $ref: '#/components/schemas/ShorebirdSchema'
      type: object
      required:
      - data
      title: NoPagination[ShorebirdSchema]
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
