openapi: 3.2.0
info:
  title: Codemagic Team Invitations API
  version: v3.0
  description: '# ℹ️ Overview


    Welcome to the Codemagic REST API.'
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Team Invitations
  description: REST API endpoints for team invitations.
  external_docs: null
paths:
  /api/v3/invitations/{code}/accept:
    post:
      tags:
      - Team Invitations
      summary: Accept a team invitation
      operationId: ApiV3InvitationsCodeAcceptAcceptTeamInvitation
      parameters:
      - name: code
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/teams/{team_id}/invitations:
    get:
      tags:
      - Team Invitations
      summary: List pending team invitations
      operationId: ApiV3TeamsTeamIdInvitationsListPendingTeamInvitations
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.team_invitations.schemas.InvitationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Team Invitations
      summary: Create a team invitation
      operationId: ApiV3TeamsTeamIdInvitationsCreateTeamInvitation
      parameters:
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationSchema'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.team_invitations.schemas.InvitationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/invitations/public/{code}:
    get:
      tags:
      - Team Invitations
      summary: Get team invitation by code
      operationId: ApiV3InvitationsPublicCodeGetInvitationByCode
      parameters:
      - name: code
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.team_invitations.schemas.PublicInvitationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
      security:
      - {}
  /api/v3/teams/{team_id}/invitations/{invitation_id}:
    delete:
      tags:
      - Team Invitations
      summary: Revoke a team invitation
      operationId: ApiV3TeamsTeamIdInvitationsInvitationIdRevokeTeamInvitation
      parameters:
      - name: invitation_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    InvitationStatus:
      type: string
      enum:
      - pending
      - accepted
      - revoked
      title: InvitationStatus
    NoPagination_api.routes.team_invitations.schemas.PublicInvitationSchema_:
      properties:
        data:
          $ref: '#/components/schemas/PublicInvitationSchema'
      type: object
      required:
      - data
      title: NoPagination[PublicInvitationSchema]
    PublicInvitationSchema:
      properties:
        team_name:
          type: string
        inviter_display_name:
          oneOf:
          - type: string
          - type: 'null'
        invitee_email:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/InviteRoleSpec'
          type: array
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - expires_at
      - invitee_email
      - roles
      - team_name
      title: PublicInvitationSchema
    InvitationSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        email:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/InviteRoleSpec'
          type: array
        status:
          $ref: '#/components/schemas/InvitationStatus'
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - email
      - expires_at
      - id
      - roles
      - status
      title: InvitationSchema
    InvitableRole:
      type: string
      enum:
      - admin
      - member
      title: InvitableRole
    CreateInvitationSchema:
      properties:
        email:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/InviteRoleSpec'
          type: array
      type: object
      required:
      - email
      - roles
      title: CreateInvitationSchema
    ClassicPagination_api.routes.team_invitations.schemas.InvitationSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/InvitationSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[InvitationSchema]
    NoPagination_api.routes.team_invitations.schemas.InvitationSchema_:
      properties:
        data:
          $ref: '#/components/schemas/InvitationSchema'
      type: object
      required:
      - data
      title: NoPagination[InvitationSchema]
    InviteRoleSpec:
      properties:
        role:
          $ref: '#/components/schemas/InvitableRole'
      type: object
      required:
      - role
      title: InviteRoleSpec
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
