openapi: 3.1.0
info:
  title: Codemagic App Previews Over-the-air Updates API
  version: v3.0
  description: "\n# ℹ️ Overview\n\nWelcome to the Codemagic REST API. This API allows you to programmatically interact with [Codemagic's CI/CD](https://codemagic.io/) platform\nto manage your apps, trigger builds, access artifacts, and more.\n\n### Authentication\n\nAll API requests require authentication using a personal API token that is unique to each Codemagic user. The actions permitted by the token are determined by the user’s role within the team.\n\nYou can find your API token by navigating to **Teams > Personal Account > Integrations > Codemagic API > Show**.\n\nInclude your token in the request header:\n\n```\nx-auth-token: <your-api-token>\n```\n\n### Getting started\n\n1. Generate your API token from the Codemagic dashboard\n2. Explore the available endpoints in the sidebar\n3. Try out requests directly from this documentation\n\n### Rate limits\n\nCodemagic limits the number of API requests you can make within a specific amount of time to ensure the API remains\navailable for all users. Your personal rate limit is **5,000 requests per hour**.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n#### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n### Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Over-the-air Updates
  description: REST API endpoints for over-the-air updates.
  external_docs: null
paths:
  /api/v3/over-the-air-updates:
    get:
      tags:
      - Over-the-air Updates
      summary: Get account information for the authenticated user
      operationId: ApiV3OverTheAirUpdatesGetAccountInfo
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota.schemas.AccountSchema_'
      deprecated: false
  /api/v3/ota:
    get:
      tags:
      - Over-the-air Updates
      summary: Get account information for the authenticated user
      operationId: ApiV3OtaGetAccountInfo
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota.schemas.AccountSchema_'
      deprecated: false
  /api/v3/over-the-air-updates/deployments/{deployment_id}/releases:
    get:
      tags:
      - Over-the-air Updates
      summary: Get deployment releases history
      operationId: ApiV3OverTheAirUpdatesDeploymentsDeploymentIdReleasesListDeploymentReleases
      parameters:
      - name: deployment_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_deployment_releases.schemas.DeploymentReleaseSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/deployments/{deployment_id}/releases:
    get:
      tags:
      - Over-the-air Updates
      summary: Get deployment releases history
      operationId: ApiV3OtaDeploymentsDeploymentIdReleasesListDeploymentReleases
      parameters:
      - name: deployment_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_deployment_releases.schemas.DeploymentReleaseSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/over-the-air-updates/projects/{project_id}/deployment-keys:
    get:
      tags:
      - Over-the-air Updates
      summary: Get project deployment keys
      operationId: ApiV3OverTheAirUpdatesProjectsProjectIdDeploymentKeysListDeploymentKeys
      parameters:
      - name: project_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_project_deployment_keys.schemas.DeploymentKeySchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/projects/{project_id}/deployment-keys:
    get:
      tags:
      - Over-the-air Updates
      summary: Get project deployment keys
      operationId: ApiV3OtaProjectsProjectIdDeploymentKeysListDeploymentKeys
      parameters:
      - name: project_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_project_deployment_keys.schemas.DeploymentKeySchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/deployments/{deployment_id}/usage/{metric}:
    get:
      tags:
      - Over-the-air Updates
      summary: Get usage stats for a deployment channel.
      operationId: ApiV3OtaDeploymentsDeploymentIdUsageMetricGetDeploymentUsage
      parameters:
      - name: deployment_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: metric
        in: path
        schema:
          $ref: '#/components/schemas/MetricType'
        description: The name of the usage metric to retrieve.
        required: true
        deprecated: false
      - name: period_from
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; the default is set to the first day of the current month.
        description: Datetime in ISO format; the default is set to the first day of the current month.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: period_to
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; default is set to now.
        description: Datetime in ISO format; default is set to now.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota_deployment_usage.schemas.UsageSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/over-the-air-updates/deployments/{deployment_id}/usage/{metric}:
    get:
      tags:
      - Over-the-air Updates
      summary: Get usage stats for a deployment channel.
      operationId: ApiV3OverTheAirUpdatesDeploymentsDeploymentIdUsageMetricGetDeploymentUsage
      parameters:
      - name: deployment_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: metric
        in: path
        schema:
          $ref: '#/components/schemas/MetricType'
        description: The name of the usage metric to retrieve.
        required: true
        deprecated: false
      - name: period_from
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; the default is set to the first day of the current month.
        description: Datetime in ISO format; the default is set to the first day of the current month.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: period_to
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; default is set to now.
        description: Datetime in ISO format; default is set to now.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota_deployment_usage.schemas.UsageSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/{team_id}/access-keys:
    get:
      tags:
      - Over-the-air Updates
      summary: List all access keys for a team
      operationId: ApiV3OtaTeamIdAccessKeysListOtaAccessKeys
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_team_access_keys.schemas.AccessKeySchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Over-the-air Updates
      summary: Create an access key for a team
      operationId: ApiV3OtaTeamIdAccessKeysCreateOtaAccessKey
      parameters:
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessKeySchema'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota_team_access_keys.schemas.CreatedAccessKeySchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/{team_id}/access-keys/{key_id}:
    delete:
      tags:
      - Over-the-air Updates
      summary: Delete an access key for a team
      operationId: ApiV3OtaTeamIdAccessKeysKeyIdDeleteOtaAccessKey
      parameters:
      - name: key_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/{team_id}/projects:
    get:
      tags:
      - Over-the-air Updates
      summary: List projects for the team
      operationId: ApiV3OtaTeamIdProjectsListProjects
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_team_projects.schemas.ProjectSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/over-the-air-updates/{team_id}/projects:
    get:
      tags:
      - Over-the-air Updates
      summary: List projects for the team
      operationId: ApiV3OverTheAirUpdatesTeamIdProjectsListProjects
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.ota_team_projects.schemas.ProjectSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/over-the-air-updates/{team_id}/usage:
    get:
      tags:
      - Over-the-air Updates
      summary: Get usage stats for the team.
      operationId: ApiV3OverTheAirUpdatesTeamIdUsageGetUsage
      parameters:
      - name: period_from
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; the default is set to the first day of the current month.
        description: Datetime in ISO format; the default is set to the first day of the current month.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: period_to
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; default is set to now.
        description: Datetime in ISO format; default is set to now.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota_team_usage.schemas.UsageSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/ota/{team_id}/usage:
    get:
      tags:
      - Over-the-air Updates
      summary: Get usage stats for the team.
      operationId: ApiV3OtaTeamIdUsageGetUsage
      parameters:
      - name: period_from
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; the default is set to the first day of the current month.
        description: Datetime in ISO format; the default is set to the first day of the current month.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: period_to
        in: query
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Datetime in ISO format; default is set to now.
        description: Datetime in ISO format; default is set to now.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.ota_team_usage.schemas.UsageSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    DeploymentReleaseStatus:
      type: string
      enum:
      - active
      - inactive
      title: DeploymentReleaseStatus
    ClassicPagination_api.routes.ota_deployment_releases.schemas.DeploymentReleaseSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DeploymentReleaseSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[DeploymentReleaseSchema]
    ota_deployment_releases_schemas_MetricSchema:
      properties:
        metric:
          type: string
        value:
          type: integer
      type: object
      required:
      - metric
      - value
      title: MetricSchema
    ProjectUpdateSchema:
      properties:
        deployment_channel:
          $ref: '#/components/schemas/DeploymentChannelSchema'
        version:
          type: string
        application_version:
          type: string
        released_at:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/DeploymentReleaseStatus'
        summary:
          items:
            $ref: '#/components/schemas/ota_team_projects_schemas_MetricSchema'
          type: array
      type: object
      required:
      - application_version
      - deployment_channel
      - released_at
      - status
      - summary
      - version
      title: ProjectUpdateSchema
    ota_team_usage_schemas_UsageSchema:
      properties:
        series:
          items:
            $ref: '#/components/schemas/ota_team_usage_schemas_SeriesSchema'
          type: array
        summary:
          items:
            $ref: '#/components/schemas/SummarySchema'
          type: array
        meta:
          $ref: '#/components/schemas/ota_team_usage_schemas_MetaSchema'
      type: object
      required:
      - meta
      - series
      - summary
      title: UsageSchema
    ClassicPagination_api.routes.ota_project_deployment_keys.schemas.DeploymentKeySchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DeploymentKeySchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[DeploymentKeySchema]
    ota_team_usage_schemas_ValueSchema:
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: integer
      type: object
      required:
      - timestamp
      - value
      title: ValueSchema
    ClassicPagination_api.routes.ota_team_access_keys.schemas.AccessKeySchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/AccessKeySchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[AccessKeySchema]
    ClassicPagination_api.routes.ota_team_projects.schemas.ProjectSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ProjectSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[ProjectSchema]
    ota_team_projects_schemas_MetricSchema:
      properties:
        metric:
          type: string
        value:
          type: integer
      type: object
      required:
      - metric
      - value
      title: MetricSchema
    NoPagination_api.routes.ota_deployment_usage.schemas.UsageSchema_:
      properties:
        data:
          $ref: '#/components/schemas/ota_deployment_usage_schemas_UsageSchema'
      type: object
      required:
      - data
      title: NoPagination[UsageSchema]
    NoPagination_api.routes.ota_team_usage.schemas.UsageSchema_:
      properties:
        data:
          $ref: '#/components/schemas/ota_team_usage_schemas_UsageSchema'
      type: object
      required:
      - data
      title: NoPagination[UsageSchema]
    AccountSchema:
      properties:
        status:
          $ref: '#/components/schemas/Status'
        team_id:
          oneOf:
          - {}
          - type: 'null'
      type: object
      required:
      - status
      title: AccountSchema
    MetricType:
      type: string
      enum:
      - download_count
      - deployment_succeeded_count
      - deployment_failed_count
      title: MetricType
      description: The name of the usage metric to retrieve.
    DeploymentChannelSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
      type: object
      required:
      - id
      - name
      title: DeploymentChannelSchema
    ota_deployment_usage_schemas_MetaSchema:
      properties:
        period_from:
          type: string
          format: date-time
        period_to:
          type: string
          format: date-time
        interval:
          type: string
          const: 1d
      type: object
      required:
      - interval
      - period_from
      - period_to
      title: MetaSchema
    ota_team_usage_schemas_SeriesSchema:
      properties:
        name:
          type: string
        metric:
          type: string
        values:
          items:
            $ref: '#/components/schemas/ota_team_usage_schemas_ValueSchema'
          type: array
      type: object
      required:
      - metric
      - name
      - values
      title: SeriesSchema
    CreatedAccessKeySchema:
      properties:
        id:
          type: string
        name:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        token:
          type: string
      type: object
      required:
      - created_at
      - created_by
      - expires_at
      - id
      - name
      - token
      title: CreatedAccessKeySchema
    ota_deployment_usage_schemas_SeriesSchema:
      properties:
        name:
          type: string
        metric:
          type: string
        values:
          items:
            $ref: '#/components/schemas/ota_deployment_usage_schemas_ValueSchema'
          type: array
      type: object
      required:
      - metric
      - name
      - values
      title: SeriesSchema
    ota_team_usage_schemas_MetaSchema:
      properties:
        period_from:
          type: string
          format: date-time
        period_to:
          type: string
          format: date-time
        interval:
          type: string
          const: 1d
      type: object
      required:
      - interval
      - period_from
      - period_to
      title: MetaSchema
    ota_deployment_usage_schemas_ValueSchema:
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: integer
      type: object
      required:
      - timestamp
      - value
      title: ValueSchema
    DeploymentReleaseSchema:
      properties:
        version:
          oneOf:
          - type: string
          - type: 'null'
        application_version:
          oneOf:
          - type: string
          - type: 'null'
        released_at:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
        status:
          $ref: '#/components/schemas/DeploymentReleaseStatus'
        summary:
          items:
            $ref: '#/components/schemas/ota_deployment_releases_schemas_MetricSchema'
          type: array
      type: object
      required:
      - status
      - summary
      title: DeploymentReleaseSchema
    ota_deployment_usage_schemas_UsageSchema:
      properties:
        series:
          items:
            $ref: '#/components/schemas/ota_deployment_usage_schemas_SeriesSchema'
          type: array
        meta:
          $ref: '#/components/schemas/ota_deployment_usage_schemas_MetaSchema'
      type: object
      required:
      - meta
      - series
      title: UsageSchema
    NoPagination_api.routes.ota_team_access_keys.schemas.CreatedAccessKeySchema_:
      properties:
        data:
          $ref: '#/components/schemas/CreatedAccessKeySchema'
      type: object
      required:
      - data
      title: NoPagination[CreatedAccessKeySchema]
    SummarySchema:
      properties:
        metric:
          type: string
        value:
          type: integer
      type: object
      required:
      - metric
      - value
      title: SummarySchema
    ProjectSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        deployment_channels:
          items:
            $ref: '#/components/schemas/DeploymentChannelSchema'
          type: array
        last_update:
          oneOf:
          - $ref: '#/components/schemas/ProjectUpdateSchema'
          - type: 'null'
      type: object
      required:
      - deployment_channels
      - id
      - name
      title: ProjectSchema
    DeploymentKeySchema:
      properties:
        name:
          type: string
        key:
          type: string
      type: object
      required:
      - key
      - name
      title: DeploymentKeySchema
    NoPagination_api.routes.ota.schemas.AccountSchema_:
      properties:
        data:
          $ref: '#/components/schemas/AccountSchema'
      type: object
      required:
      - data
      title: NoPagination[AccountSchema]
    CreateAccessKeySchema:
      properties:
        name:
          type: string
          maxLength: 100
          minLength: 1
        ttl_days:
          type: integer
          maximum: 365.0
          minimum: 1.0
          default: 365
      type: object
      required:
      - name
      title: CreateAccessKeySchema
    AccessKeySchema:
      properties:
        id:
          type: string
        name:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - created_by
      - expires_at
      - id
      - name
      title: AccessKeySchema
    Status:
      type: string
      enum:
      - enabled
      - disabled
      - pending
      title: Status
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
