openapi: 3.2.0
info:
  title: Codemagic Users API
  version: v3.0
  description: '# ℹ️ Overview


    Welcome to the Codemagic REST API.'
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Users
  description: REST API endpoints for users.
  external_docs: null
paths:
  /api/v3/user:
    get:
      tags:
      - Users
      summary: Get authenticated user info
      operationId: ApiV3UserGetUser
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.user.schemas.UserSchema_'
      deprecated: false
  /api/v3/user/preferences:
    get:
      tags:
      - Users
      summary: Get preferences for the authenticated user
      operationId: ApiV3UserPreferencesGetPreferences
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.user.schemas.PreferencesSchema_'
      deprecated: false
  /api/v3/user/api-key:
    get:
      tags:
      - Users
      summary: Get API key for the authenticated user
      operationId: ApiV3UserApiKeyGetApiKey
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.user.schemas.ApiKeySchema_'
      deprecated: false
    delete:
      tags:
      - Users
      summary: Revoke API key for the authenticated user
      operationId: ApiV3UserApiKeyRevokeApiKey
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
      deprecated: false
  /api/v3/user/track:
    post:
      tags:
      - Users
      summary: Track user events
      operationId: ApiV3UserTrackTrack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackUserSchema'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/user/notifications:
    get:
      tags:
      - Users
      summary: Get notifications for the authenticated user
      operationId: ApiV3UserNotificationsGetNotifications
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.user.schemas.NotificationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/user/teams/{team_id}/permissions:
    get:
      tags:
      - Users
      summary: Get the authenticated user's permissions in a team
      operationId: ApiV3UserTeamsTeamIdPermissionsGetTeamPermissions
      parameters:
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.user_team_permissions.schemas.TeamPermissionsSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    NoPagination_api.routes.user.schemas.ApiKeySchema_:
      properties:
        data:
          $ref: '#/components/schemas/ApiKeySchema'
      type: object
      required:
      - data
      title: NoPagination[ApiKeySchema]
    NoPagination_api.routes.user_team_permissions.schemas.TeamPermissionsSchema_:
      properties:
        data:
          $ref: '#/components/schemas/TeamPermissionsSchema'
      type: object
      required:
      - data
      title: NoPagination[TeamPermissionsSchema]
    ApiKeySchema:
      properties:
        api_key:
          type: string
      type: object
      required:
      - api_key
      title: ApiKeySchema
    NoPagination_api.routes.user.schemas.UserSchema_:
      properties:
        data:
          $ref: '#/components/schemas/UserSchema'
      type: object
      required:
      - data
      title: NoPagination[UserSchema]
    AppPermission:
      type: string
      enum:
      - can_start_app_preview
      - can_read_app_preview
      - can_create_app_vars
      - can_read_app_vars
      - can_read_builds
      - can_create_tester_groups
      - can_read_tester_groups
      - can_update_tester_groups
      - can_delete_tester_groups
      - can_create_tester_group_contacts
      - can_read_tester_group_contacts
      - can_delete_tester_group_contacts
      title: AppPermission
    NotificationSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        category:
          $ref: '#/components/schemas/NotificationCategory'
        body_text:
          type: string
        cta_text:
          type: string
        cta_url:
          type: string
      type: object
      required:
      - body_text
      - category
      - cta_text
      - cta_url
      - id
      title: NotificationSchema
    Theme:
      type: string
      enum:
      - light
      - dark
      - system
      title: Theme
    PinnedAccountSchema:
      properties:
        team:
          type: string
          description: 'Allowed values: `personal` or team ID, see [/user/teams](#/operations/UserTeamsGetTeams)'
        view:
          $ref: '#/components/schemas/PinnedAccountView'
      type: object
      required:
      - team
      - view
      title: PinnedAccountSchema
    Permission:
      type: string
      enum:
      - can_read_audit_log
      - can_read_audit_log_connector
      - can_update_audit_log_connector
      - can_delete_audit_log_connector
      - can_read_team_billing
      - can_update_team_billing
      - can_update_subscription
      - can_read_team
      - can_update_team
      - can_delete_team
      - can_read_team_members
      - can_delete_team_members
      - can_read_team_invitations
      - can_create_team_invitations
      - can_delete_team_invitations
      - can_create_team_vars
      - can_read_team_vars
      - can_create_vars
      - can_read_vars
      - can_update_vars
      - can_delete_vars
      - can_read_apps
      - can_read_ota_updates
      - can_read_ota_access_keys
      - can_create_ota_access_keys
      - can_delete_ota_access_keys
      - can_start_app_preview
      - can_read_app_preview
      - can_create_app_vars
      - can_read_app_vars
      - can_read_builds
      - can_create_tester_groups
      - can_read_tester_groups
      - can_update_tester_groups
      - can_delete_tester_groups
      - can_create_tester_group_contacts
      - can_read_tester_group_contacts
      - can_delete_tester_group_contacts
      title: Permission
    TrackUserSchema:
      properties:
        event:
          $ref: '#/components/schemas/ClientEvent'
        properties:
          additionalProperties:
            type: string
          type: object
      type: object
      required:
      - event
      - properties
      title: TrackUserSchema
    NotificationCategory:
      type: string
      enum:
      - news1
      title: NotificationCategory
    UserSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        avatar_url:
          oneOf:
          - type: string
          - type: 'null'
        permissions:
          additionalProperties:
            items:
              $ref: '#/components/schemas/Permission'
            type: array
          type: object
      type: object
      required:
      - id
      - permissions
      title: UserSchema
    PreferencesSchema:
      properties:
        pinned_accounts:
          items:
            $ref: '#/components/schemas/PinnedAccountSchema'
          type: array
        theme:
          $ref: '#/components/schemas/Theme'
      type: object
      required:
      - pinned_accounts
      - theme
      title: PreferencesSchema
    TeamPermission:
      type: string
      enum:
      - can_read_audit_log
      - can_read_audit_log_connector
      - can_update_audit_log_connector
      - can_delete_audit_log_connector
      - can_read_team_billing
      - can_update_team_billing
      - can_update_subscription
      - can_read_team
      - can_update_team
      - can_delete_team
      - can_read_team_members
      - can_delete_team_members
      - can_read_team_invitations
      - can_create_team_invitations
      - can_delete_team_invitations
      - can_create_team_vars
      - can_read_team_vars
      - can_create_vars
      - can_read_vars
      - can_update_vars
      - can_delete_vars
      - can_read_apps
      - can_read_ota_updates
      - can_read_ota_access_keys
      - can_create_ota_access_keys
      - can_delete_ota_access_keys
      title: TeamPermission
    TeamPermissionsSchema:
      properties:
        team_id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        user_id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        team:
          items:
            $ref: '#/components/schemas/TeamPermission'
          type: array
          description: Team-scoped permissions. Empty for app-only members.
        default_app_permissions:
          items:
            $ref: '#/components/schemas/AppPermission'
          type: array
          description: App-scoped permissions applied to every app the user can access.
        apps:
          additionalProperties:
            items:
              $ref: '#/components/schemas/AppPermission'
            type: array
          type: object
          description: 'Per-app overrides: only apps whose effective permissions differ from `default_app_permissions`.'
      type: object
      required:
      - apps
      - default_app_permissions
      - team
      - team_id
      - user_id
      title: TeamPermissionsSchema
    ClientEvent:
      type: string
      enum:
      - Onboarding Viewed
      - Onboarding Started
      - Onboarding Finished
      - Onboarding Info Provided
      - Onboarding Billing Submitted
      - Onboarding Billing Enabled
      - Onboarding Billing Selected
      - Onboarding Redirected
      title: ClientEvent
    NoPagination_api.routes.user.schemas.PreferencesSchema_:
      properties:
        data:
          $ref: '#/components/schemas/PreferencesSchema'
      type: object
      required:
      - data
      title: NoPagination[PreferencesSchema]
    ClassicPagination_api.routes.user.schemas.NotificationSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/NotificationSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[NotificationSchema]
    PinnedAccountView:
      type: string
      enum:
      - full
      - compact
      title: PinnedAccountView
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
