openapi: 3.1.0
info:
  title: Codemagic App Previews Secrets and Environment Vars API
  version: v3.0
  description: "\n# ℹ️ Overview\n\nWelcome to the Codemagic REST API. This API allows you to programmatically interact with [Codemagic's CI/CD](https://codemagic.io/) platform\nto manage your apps, trigger builds, access artifacts, and more.\n\n### Authentication\n\nAll API requests require authentication using a personal API token that is unique to each Codemagic user. The actions permitted by the token are determined by the user’s role within the team.\n\nYou can find your API token by navigating to **Teams > Personal Account > Integrations > Codemagic API > Show**.\n\nInclude your token in the request header:\n\n```\nx-auth-token: <your-api-token>\n```\n\n### Getting started\n\n1. Generate your API token from the Codemagic dashboard\n2. Explore the available endpoints in the sidebar\n3. Try out requests directly from this documentation\n\n### Rate limits\n\nCodemagic limits the number of API requests you can make within a specific amount of time to ensure the API remains\navailable for all users. Your personal rate limit is **5,000 requests per hour**.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n#### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n### Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Secrets and Environment Vars
  description: REST API endpoints for environment variables.
  external_docs: null
paths:
  /api/v3/apps/{app_id}/variable-groups:
    get:
      tags:
      - Secrets and Environment Vars
      summary: List variable groups for the app
      operationId: ApiV3AppsAppIdVariableGroupsGetVariableGroups
      parameters:
      - name: app_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.apps.schemas.VariableGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Secrets and Environment Vars
      summary: Create a variable group for the app
      operationId: ApiV3AppsAppIdVariableGroupsCreateVariableGroup
      parameters:
      - name: app_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apps_schemas_CreateVariableGroup'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.apps.schemas.VariableGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/variable-groups/{variable_group_id}/variables:
    get:
      tags:
      - Secrets and Environment Vars
      summary: List variables for the group
      operationId: ApiV3VariableGroupsVariableGroupIdVariablesGetVariables
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: search
        in: query
        schema:
          oneOf:
          - type: string
          - type: 'null'
          description: Search query to filter variables.
        description: Search query to filter variables.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.variable_groups.schemas.EnvironmentVariableSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Secrets and Environment Vars
      summary: Bulk import variables to the group
      operationId: ApiV3VariableGroupsVariableGroupIdVariablesBulkImport
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/variable_groups_schemas_BulkImportSchema'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/variable-groups/{variable_group_id}:
    get:
      tags:
      - Secrets and Environment Vars
      summary: Get group information
      operationId: ApiV3VariableGroupsVariableGroupIdGetGroup
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.variable_groups.schemas.VariableGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    delete:
      tags:
      - Secrets and Environment Vars
      summary: Delete the group and all variables
      operationId: ApiV3VariableGroupsVariableGroupIdDeleteGroup
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    patch:
      tags:
      - Secrets and Environment Vars
      summary: Change group name and settings
      operationId: ApiV3VariableGroupsVariableGroupIdUpdateGroup
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupSchema'
        required: true
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/variable-groups/{variable_group_id}/variables/{variable_id}:
    get:
      tags:
      - Secrets and Environment Vars
      summary: Get a variable from the group
      operationId: ApiV3VariableGroupsVariableGroupIdVariablesVariableIdGetVariable
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: variable_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.variable_groups.schemas.EnvironmentVariableSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    delete:
      tags:
      - Secrets and Environment Vars
      summary: Delete the variable
      operationId: ApiV3VariableGroupsVariableGroupIdVariablesVariableIdDeleteVariable
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: variable_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    patch:
      tags:
      - Secrets and Environment Vars
      summary: Update the variable
      operationId: ApiV3VariableGroupsVariableGroupIdVariablesVariableIdUpdateVariable
      parameters:
      - name: variable_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: variable_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentVariableSchema'
        required: true
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/teams/{team_id}/variable-groups:
    get:
      tags:
      - Secrets and Environment Vars
      summary: List variable groups for the team
      operationId: ApiV3TeamsTeamIdVariableGroupsGetVariableGroups
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.team_variable_groups.schemas.VariableGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Secrets and Environment Vars
      summary: Create a variable group for the team
      operationId: ApiV3TeamsTeamIdVariableGroupsCreateVariableGroup
      parameters:
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/team_variable_groups_schemas_CreateVariableGroup'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.team_variable_groups.schemas.VariableGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    NoPagination_api.routes.apps.schemas.VariableGroupSchema_:
      properties:
        data:
          $ref: '#/components/schemas/apps_schemas_VariableGroupSchema'
      type: object
      required:
      - data
      title: NoPagination[VariableGroupSchema]
    apps_schemas_CreateVariableGroup:
      properties:
        name:
          type: string
          pattern: ^[^.$]*$
      type: object
      required:
      - name
      title: CreateVariableGroup
    team_variable_groups_schemas_AdvancedSecuritySchema:
      properties:
        enabled:
          type: boolean
        selected_apps:
          items: {}
          type: array
          description: IDs of applications that can access the group's variables. Empty if advanced security is disabled
      type: object
      required:
      - enabled
      - selected_apps
      title: AdvancedSecuritySchema
    EnvironmentVariableSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        value:
          oneOf:
          - type: string
          - type: 'null'
        secure:
          type: boolean
      type: object
      required:
      - id
      - name
      - secure
      title: EnvironmentVariableSchema
    apps_schemas_VariableGroupSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
      type: object
      required:
      - id
      - name
      title: VariableGroupSchema
    variable_groups_schemas_AdvancedSecuritySchema:
      properties:
        enabled:
          type: boolean
        selected_apps:
          items: {}
          type: array
          description: IDs of applications that can access the group's variables. Empty if advanced security is disabled
      type: object
      required:
      - enabled
      - selected_apps
      title: AdvancedSecuritySchema
    team_variable_groups_schemas_VariableGroupSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
      type: object
      required:
      - id
      - name
      title: VariableGroupSchema
    UpdateEnvironmentVariableSchema:
      properties:
        name:
          oneOf:
          - type: string
          - type: 'null'
        value:
          oneOf:
          - type: string
          - type: 'null'
        secure:
          oneOf:
          - type: boolean
          - type: 'null'
      type: object
      required: []
      title: UpdateEnvironmentVariableSchema
    UpdateGroupSchema:
      properties:
        name:
          oneOf:
          - type: string
          - type: 'null'
        advanced_security:
          oneOf:
          - $ref: '#/components/schemas/variable_groups_schemas_AdvancedSecuritySchema'
          - type: 'null'
          description: Only for team's variable groups
      type: object
      required: []
      title: UpdateGroupSchema
    NoPagination_api.routes.variable_groups.schemas.VariableGroupSchema_:
      properties:
        data:
          $ref: '#/components/schemas/variable_groups_schemas_VariableGroupSchema'
      type: object
      required:
      - data
      title: NoPagination[VariableGroupSchema]
    ClassicPagination_api.routes.team_variable_groups.schemas.VariableGroupSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/team_variable_groups_schemas_VariableGroupSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[VariableGroupSchema]
    ClassicPagination_api.routes.variable_groups.schemas.EnvironmentVariableSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EnvironmentVariableSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[EnvironmentVariableSchema]
    variable_groups_schemas_BulkImportSchema:
      properties:
        secure:
          type: boolean
        variables:
          items:
            $ref: '#/components/schemas/NewEnvironmentVariableSchema'
          type: array
      type: object
      required:
      - secure
      - variables
      title: BulkImportSchema
    NoPagination_api.routes.variable_groups.schemas.EnvironmentVariableSchema_:
      properties:
        data:
          $ref: '#/components/schemas/EnvironmentVariableSchema'
      type: object
      required:
      - data
      title: NoPagination[EnvironmentVariableSchema]
    NewEnvironmentVariableSchema:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
      required:
      - name
      - value
      title: NewEnvironmentVariableSchema
    NoPagination_api.routes.team_variable_groups.schemas.VariableGroupSchema_:
      properties:
        data:
          $ref: '#/components/schemas/team_variable_groups_schemas_VariableGroupSchema'
      type: object
      required:
      - data
      title: NoPagination[VariableGroupSchema]
    ClassicPagination_api.routes.apps.schemas.VariableGroupSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/apps_schemas_VariableGroupSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[VariableGroupSchema]
    variable_groups_schemas_VariableGroupSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        advanced_security:
          oneOf:
          - $ref: '#/components/schemas/variable_groups_schemas_AdvancedSecuritySchema'
          - type: 'null'
          description: Only for team's variable groups
      type: object
      required:
      - id
      - name
      title: VariableGroupSchema
    team_variable_groups_schemas_CreateVariableGroup:
      properties:
        name:
          type: string
          pattern: ^[^.$]*$
        advanced_security:
          $ref: '#/components/schemas/team_variable_groups_schemas_AdvancedSecuritySchema'
      type: object
      required:
      - advanced_security
      - name
      title: CreateVariableGroup
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
