openapi: 3.1.0
info:
  title: Codemagic App Previews Applications API
  version: v3.0
  description: "\n# ℹ️ Overview\n\nWelcome to the Codemagic REST API. This API allows you to programmatically interact with [Codemagic's CI/CD](https://codemagic.io/) platform\nto manage your apps, trigger builds, access artifacts, and more.\n\n### Authentication\n\nAll API requests require authentication using a personal API token that is unique to each Codemagic user. The actions permitted by the token are determined by the user’s role within the team.\n\nYou can find your API token by navigating to **Teams > Personal Account > Integrations > Codemagic API > Show**.\n\nInclude your token in the request header:\n\n```\nx-auth-token: <your-api-token>\n```\n\n### Getting started\n\n1. Generate your API token from the Codemagic dashboard\n2. Explore the available endpoints in the sidebar\n3. Try out requests directly from this documentation\n\n### Rate limits\n\nCodemagic limits the number of API requests you can make within a specific amount of time to ensure the API remains\navailable for all users. Your personal rate limit is **5,000 requests per hour**.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n#### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n### Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Applications
  description: REST API endpoints for applications.
  external_docs: null
paths:
  /api/v3/user/apps:
    get:
      tags:
      - Applications
      summary: List apps for the authenticated user
      description: To list the applications belonging to a team, see [/teams/{team_id}/apps](#/operations/TeamsTeamIdAppsGetApps)
      operationId: ApiV3UserAppsGetApps
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: name
        in: query
        schema:
          oneOf:
          - type: string
          - type: 'null'
          description: Filter apps by name. The query is split on whitespace and every token must appear (case-insensitively) in the app name.
        description: Filter apps by name. The query is split on whitespace and every token must appear (case-insensitively) in the app name.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.user.schemas.AppSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/teams/{team_id}/apps:
    get:
      tags:
      - Applications
      summary: List apps for the team
      operationId: ApiV3TeamsTeamIdAppsListTeamApps
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: id
        in: query
        schema:
          oneOf:
          - items: {}
            type: array
          - type: 'null'
          description: App IDs to filter by.
        description: App IDs to filter by.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: name
        in: query
        schema:
          oneOf:
          - type: string
          - type: 'null'
          description: Filter apps by name. The query is split on whitespace and every token must appear (case-insensitively) in the app name.
        description: Filter apps by name. The query is split on whitespace and every token must appear (case-insensitively) in the app name.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.team_apps.schemas.AppSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    AppSettingsSrouce:
      type: string
      enum:
      - ui
      - file
      title: AppSettingsSrouce
    ClassicPagination_api.routes.team_apps.schemas.AppSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/team_apps_schemas_AppSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[AppSchema]
    user_schemas_AppSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        icon_url:
          oneOf:
          - type: string
          - type: 'null'
        last_build_id:
          oneOf:
          - {}
          - type: 'null'
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        archived:
          oneOf:
          - type: boolean
          - type: 'null'
      type: object
      required:
      - id
      - last_build_id
      - name
      title: AppSchema
    ClassicPagination_api.routes.user.schemas.AppSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/user_schemas_AppSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[AppSchema]
    team_apps_schemas_AppSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        repository:
          $ref: '#/components/schemas/RepositorySchema'
        settings_source:
          $ref: '#/components/schemas/AppSettingsSrouce'
        icon_url:
          oneOf:
          - type: string
          - type: 'null'
        project_type:
          oneOf:
          - type: string
          - type: 'null'
        last_build_id:
          oneOf:
          - {}
          - type: 'null'
        archived:
          oneOf:
          - type: boolean
          - type: 'null'
      type: object
      required:
      - id
      - name
      - repository
      - settings_source
      title: AppSchema
    RepositorySchema:
      properties:
        url:
          type: string
      type: object
      required:
      - url
      title: RepositorySchema
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
