openapi: 3.1.0
info:
  title: Codemagic App Previews Team Invitations API
  version: v3.0
  description: "\n# ℹ️ Overview\n\nWelcome to the Codemagic REST API. This API allows you to programmatically interact with [Codemagic's CI/CD](https://codemagic.io/) platform\nto manage your apps, trigger builds, access artifacts, and more.\n\n### Authentication\n\nAll API requests require authentication using a personal API token that is unique to each Codemagic user. The actions permitted by the token are determined by the user’s role within the team.\n\nYou can find your API token by navigating to **Teams > Personal Account > Integrations > Codemagic API > Show**.\n\nInclude your token in the request header:\n\n```\nx-auth-token: <your-api-token>\n```\n\n### Getting started\n\n1. Generate your API token from the Codemagic dashboard\n2. Explore the available endpoints in the sidebar\n3. Try out requests directly from this documentation\n\n### Rate limits\n\nCodemagic limits the number of API requests you can make within a specific amount of time to ensure the API remains\navailable for all users. Your personal rate limit is **5,000 requests per hour**.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n#### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n### Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Team Invitations
  description: REST API endpoints for team invitations.
  external_docs: null
paths:
  /api/v3/invitations/{code}/accept:
    post:
      tags:
      - Team Invitations
      summary: Accept a team invitation
      operationId: ApiV3InvitationsCodeAcceptAcceptTeamInvitation
      parameters:
      - name: code
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/teams/{team_id}/invitations:
    get:
      tags:
      - Team Invitations
      summary: List pending team invitations
      operationId: ApiV3TeamsTeamIdInvitationsListPendingTeamInvitations
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.team_invitations.schemas.InvitationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Team Invitations
      summary: Create a team invitation
      operationId: ApiV3TeamsTeamIdInvitationsCreateTeamInvitation
      parameters:
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationSchema'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.team_invitations.schemas.InvitationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/invitations/public/{code}:
    get:
      tags:
      - Team Invitations
      summary: Get team invitation by code
      operationId: ApiV3InvitationsPublicCodeGetInvitationByCode
      parameters:
      - name: code
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.team_invitations.schemas.PublicInvitationSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
      security:
      - {}
  /api/v3/teams/{team_id}/invitations/{invitation_id}:
    delete:
      tags:
      - Team Invitations
      summary: Revoke a team invitation
      operationId: ApiV3TeamsTeamIdInvitationsInvitationIdRevokeTeamInvitation
      parameters:
      - name: invitation_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: team_id
        in: path
        schema:
          type: string
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    CreateInvitationSchema:
      properties:
        email:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/InviteRoleSpec'
          type: array
      type: object
      required:
      - email
      - roles
      title: CreateInvitationSchema
    InvitableRole:
      type: string
      enum:
      - admin
      - member
      title: InvitableRole
    ClassicPagination_api.routes.team_invitations.schemas.InvitationSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/InvitationSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[InvitationSchema]
    InvitationStatus:
      type: string
      enum:
      - pending
      - accepted
      - revoked
      title: InvitationStatus
    InvitationSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        email:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/InviteRoleSpec'
          type: array
        status:
          $ref: '#/components/schemas/InvitationStatus'
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - email
      - expires_at
      - id
      - roles
      - status
      title: InvitationSchema
    PublicInvitationSchema:
      properties:
        team_name:
          type: string
        inviter_display_name:
          oneOf:
          - type: string
          - type: 'null'
        invitee_email:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/InviteRoleSpec'
          type: array
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - expires_at
      - invitee_email
      - roles
      - team_name
      title: PublicInvitationSchema
    InviteRoleSpec:
      properties:
        role:
          $ref: '#/components/schemas/InvitableRole'
      type: object
      required:
      - role
      title: InviteRoleSpec
    NoPagination_api.routes.team_invitations.schemas.InvitationSchema_:
      properties:
        data:
          $ref: '#/components/schemas/InvitationSchema'
      type: object
      required:
      - data
      title: NoPagination[InvitationSchema]
    NoPagination_api.routes.team_invitations.schemas.PublicInvitationSchema_:
      properties:
        data:
          $ref: '#/components/schemas/PublicInvitationSchema'
      type: object
      required:
      - data
      title: NoPagination[PublicInvitationSchema]
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
