openapi: 3.2.0
info:
  title: Codemagic Meta API
  version: v3.0
  description: '# ℹ️ Overview


    Welcome to the Codemagic REST API.'
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Meta
  description: REST API endpoints for meta data.
  external_docs: null
paths:
  /api/v3/meta:
    get:
      tags:
      - Meta
      summary: Get meta information
      description: 'Returns meta information about Codemagic, including a list of public IP addresses in use.


        These IP addresses are in CIDR notation.

        If needed, you can use an online conversion tool to convert from CIDR notation to IP address ranges.


        Please note that these IP addresses may change from time to time, so if you use them for IP whitelisting or any kind of automation, we strongly encourage you to regularly monitor our API.'
      operationId: ApiV3MetaGetMeta
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.meta.schemas.MetaSchema_'
      deprecated: false
      security:
      - {}
  /api/v3/meta/shorebird:
    get:
      tags:
      - Meta
      summary: Get information about Shorebird integration
      operationId: ApiV3MetaShorebirdGetShorebirdMeta
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.meta.schemas.ShorebirdSchema_'
      deprecated: false
      security:
      - {}
components:
  schemas:
    NoPagination_api.routes.meta.schemas.ShorebirdSchema_:
      properties:
        data:
          $ref: '#/components/schemas/ShorebirdSchema'
      type: object
      required:
      - data
      title: NoPagination[ShorebirdSchema]
    meta_schemas_MetaSchema:
      properties:
        address_prefixes:
          items:
            type: string
            format: ipv4
          type: array
          description: A list of IP blocks used by build machines to clone the Git repository. Whitelist these IP blocks if your repository is behind a firewall. For more information, see [Firewall configuration for privately hosted repositories](https://docs.codemagic.io/getting-started/adding-apps/#firewall-configuration-for-privately-hosted-repositories).
        simulator_address_prefixes:
          items:
            type: string
            format: ipv4
          type: array
          description: A list of IP blocks used by your Android and iOS apps to make network requests. Whitelist these IP blocks if your backend behind a firewall. For more information, see [Previewing apps in the browser](https://docs.codemagic.io/yaml-testing/app-preview/).
      type: object
      required:
      - address_prefixes
      - simulator_address_prefixes
      title: MetaSchema
    ShorebirdSchema:
      properties:
        flutter_versions:
          items:
            type: string
          type: array
          description: For more information, see [Supported Flutter Versions](https://docs.shorebird.dev/getting-started/flutter-version/).
        shorebird_version:
          type: string
      type: object
      required:
      - flutter_versions
      - shorebird_version
      title: ShorebirdSchema
    NoPagination_api.routes.meta.schemas.MetaSchema_:
      properties:
        data:
          $ref: '#/components/schemas/meta_schemas_MetaSchema'
      type: object
      required:
      - data
      title: NoPagination[MetaSchema]
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
