openapi: 3.1.0
info:
  title: Codemagic App Previews Tester Groups API
  version: v3.0
  description: "\n# ℹ️ Overview\n\nWelcome to the Codemagic REST API. This API allows you to programmatically interact with [Codemagic's CI/CD](https://codemagic.io/) platform\nto manage your apps, trigger builds, access artifacts, and more.\n\n### Authentication\n\nAll API requests require authentication using a personal API token that is unique to each Codemagic user. The actions permitted by the token are determined by the user’s role within the team.\n\nYou can find your API token by navigating to **Teams > Personal Account > Integrations > Codemagic API > Show**.\n\nInclude your token in the request header:\n\n```\nx-auth-token: <your-api-token>\n```\n\n### Getting started\n\n1. Generate your API token from the Codemagic dashboard\n2. Explore the available endpoints in the sidebar\n3. Try out requests directly from this documentation\n\n### Rate limits\n\nCodemagic limits the number of API requests you can make within a specific amount of time to ensure the API remains\navailable for all users. Your personal rate limit is **5,000 requests per hour**.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n#### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n### Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
servers:
- url: https://codemagic.io/
  x-internal: false
security:
- api_key: []
tags:
- name: Tester Groups
  description: REST API endpoints for tester groups.
  external_docs: null
paths:
  /api/v3/apps/{app_id}/tester-groups:
    get:
      tags:
      - Tester Groups
      summary: List tester groups for the app
      operationId: ApiV3AppsAppIdTesterGroupsGetTesterGroups
      parameters:
      - name: app_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.apps.schemas.TesterGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Tester Groups
      summary: Create tester group for the app
      operationId: ApiV3AppsAppIdTesterGroupsCreateTesterGroup
      parameters:
      - name: app_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTesterGroup'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.apps.schemas.TesterGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/tester-groups/{tester_group_id}/contacts:
    get:
      tags:
      - Tester Groups
      summary: List contacts for the tester group
      operationId: ApiV3TesterGroupsTesterGroupIdContactsListContacts
      parameters:
      - name: tester_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: page_size
        in: query
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results per page.
          default: 30
        description: The maximum number of results per page.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1.0
          description: The page number of the results to fetch.
          default: 1
        description: The page number of the results to fetch.
        required: false
        deprecated: false
        allowEmptyValue: false
        allowReserved: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicPagination_api.routes.tester_groups.schemas.TesterGroupContactSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    post:
      tags:
      - Tester Groups
      summary: Bulk import contacts to the tester group
      description: '

        <!-- theme: warning -->

        > The bulk import API is not designed to sync updates in real-time from an external database.


        ### Skipped contacts


        Contacts must meet all the following criteria in order to be created or updated with this API:


        - The imported contacts may not exceed your account limit.

        - The contact must have a valid email address.

        - The contact''s email address must not be on an exclusion list.

        - The contact''s email must not be on a list of bounced email addresses.


        If contacts do not meet all of these requirements, they will be skipped by the importer.

        '
      operationId: ApiV3TesterGroupsTesterGroupIdContactsBulkImport
      parameters:
      - name: tester_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tester_groups_schemas_BulkImportSchema'
        required: true
      responses:
        '201':
          description: Document created, URL follows
          headers: {}
        '402':
          description: The maximum number of contacts has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredSchema'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/tester-groups/{tester_group_id}/contacts/{contact_id}:
    delete:
      tags:
      - Tester Groups
      summary: Delete contact from the tester group
      operationId: ApiV3TesterGroupsTesterGroupIdContactsContactIdDeleteContact
      parameters:
      - name: tester_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      - name: contact_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
  /api/v3/tester-groups/{tester_group_id}:
    get:
      tags:
      - Tester Groups
      summary: Get a tester group
      operationId: ApiV3TesterGroupsTesterGroupIdGetGroup
      parameters:
      - name: tester_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '200':
          description: Request fulfilled, document follows
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoPagination_api.routes.tester_groups.schemas.TesterGroupSchema_'
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    delete:
      tags:
      - Tester Groups
      summary: Delete tester group
      operationId: ApiV3TesterGroupsTesterGroupIdDeleteGroup
      parameters:
      - name: tester_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
    patch:
      tags:
      - Tester Groups
      summary: Update a tester group
      operationId: ApiV3TesterGroupsTesterGroupIdUpdateTesterGroup
      parameters:
      - name: tester_group_id
        in: path
        schema:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        required: true
        deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTesterGroup'
        required: true
      responses:
        '204':
          description: Request fulfilled, nothing follows
          headers: {}
        '400':
          description: Bad request syntax or unsupported method
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: integer
                  detail:
                    type: string
                  extra:
                    additionalProperties: {}
                    type:
                    - 'null'
                    - object
                    - array
                type: object
                required:
                - detail
                - status_code
                description: Validation Exception
                examples:
                - status_code: 400
                  detail: Bad Request
                  extra: {}
      deprecated: false
components:
  schemas:
    ExtraSchema:
      properties:
        limit:
          type: integer
      type: object
      required:
      - limit
      title: ExtraSchema
    UpdateTesterGroup:
      properties:
        name:
          type: string
      type: object
      required:
      - name
      title: UpdateTesterGroup
    PaymentRequiredSchema:
      properties:
        status_code:
          type: integer
        detail:
          type: string
        extra:
          $ref: '#/components/schemas/ExtraSchema'
      type: object
      required:
      - detail
      - extra
      - status_code
      title: PaymentRequiredSchema
    tester_groups_schemas_BulkImportSchema:
      properties:
        emails:
          items:
            type: string
          type: array
          examples:
          - john.doe@example.com
      type: object
      required:
      - emails
      title: BulkImportSchema
    CreateTesterGroup:
      properties:
        name:
          type: string
      type: object
      required:
      - name
      title: CreateTesterGroup
    NoPagination_api.routes.tester_groups.schemas.TesterGroupSchema_:
      properties:
        data:
          $ref: '#/components/schemas/tester_groups_schemas_TesterGroupSchema'
      type: object
      required:
      - data
      title: NoPagination[TesterGroupSchema]
    NoPagination_api.routes.apps.schemas.TesterGroupSchema_:
      properties:
        data:
          $ref: '#/components/schemas/apps_schemas_TesterGroupSchema'
      type: object
      required:
      - data
      title: NoPagination[TesterGroupSchema]
    ClassicPagination_api.routes.tester_groups.schemas.TesterGroupContactSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TesterGroupContactSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[TesterGroupContactSchema]
    ClassicPagination_api.routes.apps.schemas.TesterGroupSchema_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/apps_schemas_TesterGroupSchema'
          type: array
        page_size:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
      type: object
      required:
      - current_page
      - data
      - page_size
      - total_pages
      title: ClassicPagination[TesterGroupSchema]
    TesterGroupContactSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        created_at:
          type: string
          format: date-time
        confirmed_at:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
        status:
          $ref: '#/components/schemas/ContactStatus'
        email:
          type: string
      type: object
      required:
      - created_at
      - email
      - id
      - status
      title: TesterGroupContactSchema
    tester_groups_schemas_TesterGroupSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        created_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - id
      - name
      title: TesterGroupSchema
    apps_schemas_TesterGroupSchema:
      properties:
        id:
          type: string
          examples:
          - 60a0b1c2d3e4f56789abcdef
        name:
          type: string
        created_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - id
      - name
      title: TesterGroupSchema
    ContactStatus:
      type: string
      enum:
      - pending
      - confirmed
      - rejected
      title: ContactStatus
  securitySchemes:
    api_key:
      type: apiKey
      name: x-auth-token
      in: header
